.topbox {
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    color: white;
    text-align: center;
    height: 200px;
}

.toptext {
    line-height: 30px;
}

.listbox {
    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.inputbox {
    margin-top: 2.5%;

}